.GameCard{

background-color: rgb(119, 102, 80);


}
.title{
  text-align: center;
  font-size: 40px;
}

.game-picture{
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

.game.rating{
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  ;


}